doctype html
html
 include ../includes/head.pug
 body
  .content
   include ../includes/header.pug
   block content
   .aside.asideLeft
    block asideLeft
   .aside.asideRight
    block asideRight
   include ../includes/footer.pug
  script(src='assets/js/vendor.min.js')
  script(src='assets/js/common.min.js')
