.aside
  position absolute
  top stickyHeaderHeight
  bottom 0
  width asideWidth
  border 1px dashed baseColor
  background #EFEFEF
  height auto
  z-index 0
  display block
  padding mainPadding
  transition all 1s ease-in-out
.asideLeft
  right 100%
.asideRight
  left 100%
.asideLeft.visible
  z-index 999
  transform translateX(100%)
  display block
.asideRight.visible
  z-index 999
  display block
  transform translateX(-100%)