.alwaysVisible
  background-color #dad2e9
  box-shadow 0 0 0 1px baseColor
  width alwaysVisibleWidth
  height auto
  max-height 400px
  position absolute
  right mainPadding
  bottom 50px
  top stickyHeaderHeight + descriptionHeight + mainPadding * 2
  padding mainPadding

