.content
  width 100%
  max-width siteMaxWidth
  min-width siteMinWidth
  position relative
  min-height 100%
  margin 0 auto
  background-color accentColor
  padding-top stickyHeaderHeight + mainPadding
  padding-bottom stickyFooterHeight
  @media only screen and (max-width: md)
    padding-bottom round(stickyFooterHeight)
  @media only screen and (max-width: sm)
    padding-bottom round(stickyFooterHeight)
  box-shadow 0 0 0 1px baseColor
  overflow hidden
.contentText
  padding mainPadding alwaysVisibleWidth + mainPadding * 2 mainPadding mainPadding