head
    meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport" content="width=device-width, height=device-height")
    meta(name="Keywords" content="")
    meta(name="Description" content="")
    title itprogects.homogen test task
    link(rel='stylesheet' href='assets/css/vendor.min.css')
    link(rel='stylesheet' href='assets/css/common.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed' rel='stylesheet')
    