header.fixed-top
    ul.nav
      li.nav-item
       a.nav-link(href='#' onclick='$(".asideLeft").toggleClass("visible"); return false') LOREM
      li
       a.nav-link(href='#' onclick='$(".asideRight").toggleClass("visible"); return false') IPSUM