header
  box-shadow 0 0 0 1px baseColor
  height stickyHeaderHeight
  padding 10px mainPadding
  min-width siteMinWidth
  max-width siteMaxWidth
  background-color accentColor
  width 100%
header.fixed-top
  left auto
  right auto

