footer
  position absolute
  z-index 0
  width 100%
  min-width siteMinWidth
  max-width siteMaxWidth
  bottom 0
  border-top 1px solid baseColor
  overflow hidden
  height stickyFooterHeight
  padding 10px mainPadding
