.aside {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 300px;
  border: 1px dashed #242424;
  background: #efefef;
  height: auto;
  z-index: 0;
  display: block;
  padding: 20px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.asideLeft {
  right: 100%;
}
.asideRight {
  left: 100%;
}
.asideLeft.visible {
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: block;
}
.asideRight.visible {
  z-index: 999;
  display: block;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #242424;
  font-size: 14px;
  line-height: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.alwaysVisible {
  background-color: #dad2e9;
  -webkit-box-shadow: 0 0 0 1px #242424;
          box-shadow: 0 0 0 1px #242424;
  width: 200px;
  height: auto;
  max-height: 400px;
  position: absolute;
  right: 20px;
  bottom: 50px;
  top: 180px;
  padding: 20px;
}
.content {
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  background-color: #cfe2f3;
  padding-top: 60px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 0 0 1px #242424;
          box-shadow: 0 0 0 1px #242424;
  overflow: hidden;
}
@media only screen and (max-width: 991px) {
  .content {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .content {
    padding-bottom: 30px;
  }
}
.contentText {
  padding: 20px 240px 20px 20px;
}
.description {
  -webkit-box-shadow: 0 0 0 1px #242424;
          box-shadow: 0 0 0 1px #242424;
  padding: 20px;
  width: auto;
  margin: 0 20px;
  min-height: 100px;
  height: auto;
}
footer {
  position: absolute;
  z-index: 0;
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  bottom: 0;
  border-top: 1px solid #242424;
  overflow: hidden;
  height: 30px;
  padding: 10px 20px;
}
header {
  -webkit-box-shadow: 0 0 0 1px #242424;
          box-shadow: 0 0 0 1px #242424;
  height: 40px;
  padding: 10px 20px;
  min-width: 320px;
  max-width: 1024px;
  background-color: #cfe2f3;
  width: 100%;
}
header.fixed-top {
  left: auto;
  right: auto;
}
html {
  height: 100%;
}
